volumes:
  mongodb_DB:
  mongodb_conf:
  output:

networks: 
  app:

services:
  mongo:
    image: mongo:8.0.14
    restart: unless-stopped
    volumes:
      - mongodb_DB:/data/db
      - mongodb_conf:/data/configdb
    networks: 
      - app

  app:
    image: ghcr.io/tls-attacker/anvil-web:v1.2.1
    # image: anvil-web
    restart: unless-stopped
    environment:
      - PRODUCTION=1
    ports:
      - 5001:5001
    networks:
      - app
  worker:
    image: ghcr.io/tls-attacker/tlsanvil:v1.4.0
    # image: tls-anvil
    restart: unless-stopped
    networks:
      - app
    volumes:
      - ./output:/output/
    command: ["worker", "-controller", "app:5001", "-name", "Docker Compose bundeled Worker"]
