:root {
    --form-element-spacing-vertical: 0.4rem;
    cursor: auto;
}
.no-full-width {
    width: max-content !important;
    max-width: 250px !important;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 0 !important;
}
.positive {
    --primary: green;
    --primary-hover: rgb(0, 97, 0);
}
.negative {
    --primary: brown;
    --primary-hover: rgb(130, 34, 34);
}

.pointer {
    cursor: pointer;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.spacer {
    flex-grow: 1;
}
.flex-header {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.flex-header > * {
    height: fit-content;
}